 1. Print the first 5 positive integers in ascending order with one number in each line

In [4]:
for i in range(5):
    print(i+1,end=" ")

1 2 3 4 5

In [10]:
i=1
while(i<6):
    print(i)
    i=i+1

1
2
3
4
5

2. Print the following pattern
*
**
***
****
*****
There are no spaces between consecutive stars. There are no spaces 
at the end of each line.

In [6]:
for i in range(1,6):
    for j in range(i):
        print("*",end="")
    print("")

*
**
***
****
*****

In [7]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

3. Accept an integer as input and print its square as output.

In [12]:
n=int(input("Enter a number:"))
print(a**2)

Enter a number:5
25

4.Accept two integers as input and print their sum as output.

In [14]:
a=int(input("Enter a:"))
b=int(input("Enter b:"))
print(a+b)

Enter a:12
Enter b:14
26

5. Accept two words as input and print the two words after adding a 
space between them

In [15]:
w1=input("Enter word1:")
w2=input("Enter word2:")
print(w1+" "+w2)

Enter word1:dinesh
Enter word2:babu
dinesh babu

6. Accept the registration number of a vehicle as input and print its 
state-code as output.

In [19]:
registration_number=input("Enter vehicle number:")
print("State-code:",registration_number[0:2])

Enter vehicle number:AP09AZ5045
State-code: AP

7.Accept a five-digit number as input and print the sum of its digits as 
output.

In [47]:
n=input()
sum=0
if len(n)==5:
    for i in range(len(n)+1):
        sum=sum+i
    print(sum)

12345
15

In [28]:
sum=0
i=1
while(i<=5):
    sum=sum+i
    i=i+1
print(sum)

15

In [ ]:
num=input("Enter a five digit number")

8.Accept five words as input and print the sentence formed by these 
words after adding a space between consecutive words and a full stop 
at the end.

In [36]:
w1=input()
w2=input()
w3=input()
w4=input()
w5=input()
print(w1+" "+w2+" "+w3+" "+w4+" "+w5+".")

I
Love
My
Country
India
I Love  My Country India.

9.Accept the date in DD-MM-YYYY format as input and print the 
year as output.

In [37]:
date_for=input("Enter the current date:")
print(date_for[6:])

Enter the current date:12-12-2022
2022

10.Accept a sequence of five single digit numbers separated by commas 
as input. Print the product of all five numbers.

In [40]:
l=[1,2,3,4,5]
m=1
for i in l:
    m=m*i
print("Product of numbers is:",m)

Product of numbers is: 120

11. Accept two positive integers x and y as input. Print the number of 
digits in xy

In [44]:
a=int(input("num1:"))
b=int(input("num2:"))
c=a**b
res=str(c)
print(f"Number of digits in {a}**{b}:",len(res))

num1:3
num2:7
Number of digits in 3**7: 4

12. Accept a string as input. If the input string is of odd length, then 
continue with it. If the input string is of even length, make the 
string of odd length as below:
• If the last character is a period (.), then remove it 
• If the last character is not a period, then add a period (.) to the 
end of the string
Call this string of odd length word. Select a substring made up of 
three consecutive characters from word such that there are an 
equal number of characters to the left and right of this substring. 
Print this substring as output. You can assume that all input 
strings will be in lower case and will have a length of at least four

In [51]:
s=input()
n=len(s)
if n%2==0:
    if s[n-1]=='.':
        s=s[:-1]
    else:
        s=s+'.'
n=int((len(s)-1)/2)
print(s[n-1:n+2])

Dinesh
nes

In [52]:
s=input()
n=len(s)
if n%2==0:
    if s[n-1]=='.':
        s=s[:-1]
    else:
        s=s+'.'
n=int((len(s)-1)/2)
print(s[n-1:n+2])

raman
ama

13. Accept three positive integers as input and check if they form the 
sides of a right triangle. Print YES if they form one, and NO is they do 
not. The input will have three lines, with one integer on each line. 
The output should be a single line containing one of these two 
strings: YES or NO.

In [54]:
x=int(input())
y=int(input())
z=int(input())
if (x**2+y**2==z**2) or (y**2+z**2==x**2) or (x**2+z**2==y**2):
    print("Yes")
else:
    print("No")

3
4
5
Yes

14. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique 
positive integer. On one warm Sunday evening, five employees of the company come together for a 
meeting and sit at a circular table:
The employees follow a strange convention. They will continue the meeting only if the following 
condition is satisfied.
The sum of the employee-ids of every pair of adjacent employees at the table must be an even 
number.
They are so lazy that they won’t move around to satisfy the above condition, If the current seating 
plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all 
five employees. Your task is to decide if the meeting happened or not.
The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. 
The output will be a single line containing one of these two strings: YES or NO

In [55]:
e1=int(input())
e2=int(input())
e3=int(input())
e4=int(input())
e5=int(input())
if ((e1+e2)%2==0 and
    (e2+e3)%2==0 and
    (e3+e4)%2==0 and
    (e4+e5)%2==0 and
    (e5+e1)%2==0 ):
    print("Yes")
else:
    print("No")

1
2
3
5
7
No

15. Accept a string as input and print the vowels present in the string in 
alphabetical order. If the string doesn’t contain any vowels, then 
print the string none as output. Each vowel that appears in the input 
string – irrespective of its case should appear just once in lower case 
in the output

In [62]:
s=input().lower()
l1=[]
l=['a','e','i','o','u']
for i in s:
    if type(s)==str:
        if i in l:
            l1.append(i)
    else:
        print("None")
print(l1)

ineuron
['i', 'e', 'u', 'o']

16.You are given the date of birth of two persons, not necessarily from 
the same family. Your task is to find the younger of the two. If both 
of them share the same date of birth, then the younger of the two is 
assumed to be that person whose name comes first in alphabetical 
order.
The input will have four lines. The first two lines correspond to the 
first person, while the last two lines correspond to the second 
person. For each person, the first line corresponds to the name and 
the second line corresponds to the date of birth in “DD-MM-YYYY” 
format. Your output should be the name of the younger of the two.

In [115]:

n1 = input()
d1 = input()
n2 = input()
d2 = input()
if d1==d2 :
     if n1<n2 :
         print(n1)
     else :
         print(n2)
elif d1[-4:] != d2[-4:] :
     if int(d1[-4:]) < int(d2[-4:]):
         print(n2)
     else :
         print(n1)
elif d1[3:5] != d2[3:5]:
     if int(d1[3:5]) < int(d2[3:5]):
         print(n2)
     else :
         print(n1)
else :
     if int(d1[0:2]) < int(d2[0:2]):
         print(n2)
     else :
         print(n1)

dinesh
16-08-2000
ram
02-11-1999
dinesh

17.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a 
string to be a valid password, it must satisfy all the conditions given below:
(1) It should have at least 8 and at most 32 characters
(2) It should start with an uppercase or lowercase letter
(3) It should not have any of these characters: / \ = ' "
(4) It should not have spaces
It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 
4). Output True if the string forms a valid password and False otherwise

In [69]:
p=input()
if 8<len(p)<=32 and p[0].isalpha() and '/' not in p and '\\' not in p and '=' not in p and '\'' not in p and '\"' not in p: 
    print("True")
else:
    print("False")

Balaji@#$234
True

18. Accept a positive integer n as input and print the first n positive 
integers, one number on each line.

In [72]:
n=int(input("Enter a number:"))
for i in range(n+1):
    print(i+1)

Enter a number:8
1
2
3
4
5
6
7
8
9

19.Accept a positive integer n as input, where n is greater than 1. 
Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [81]:
n=int(input("Enter a number:"))
for i in range(2,n):
    if n%i==0 :
        print("Not a Prime")
else:
        print("prime Number")

Enter a number:5
prime Number

20. Accept two strings as input and form a new string by removing all 
characters from the second string which are present in the first string. 
Print this new string as output. You can assume that all input strings 
will be in lower case.

In [74]:
a=input()
b=input()
for c in a:
    if c in b:
        b=b.replace(c,'')
print(b)

ram
sam
s

21.Accept a phone number as input. A valid phone number should satisfy 
the following constraints.
(1) The number should start with one of these digits: 6, 7, 8, 9
(2) The number should be exactly 10 digits long.
(3) No digit should appear more than 7 times in the number.
(4) No digit should appear more than 5 times in a row in the 
number.
If the fourth condition is not very clear, then consider this example: 
the number 9888888765 is invalid because the digit 8 appears more 
than 5 times in a row. Print the string valid if the phone number is 
valid. If not, print the string invalid.

In [9]:
n=input()
a=False
if len(n)==10 and int(n[0])>5 and n.isdigit():
    for i in range(10):
        if n.count(n[i])<8:
            a=True
            if n[i]*6 in n:
                a=False
                break
            else:
                break
if a:
    print("Valid")
else:
    print("Invalid")

8987867612
Valid

22. In the first line of input, accept a sequence of space-separated words. In the second line of 
input, accept a single word. If this word is not present in the sequence, print NO. If this word 
is present in the sequence, then print YES and in the next line of the output, print the number 
of times the word appears in the sequence.

In [11]:
w1=input().split(" ")
w2=input()
if w2 in w1:
    print("YES")
    print(w1.count(w2))
else:
    print("No")

dinesh hari dinesh hello
dinesh
YES
2

23. Write a function named factorial that accepts an integer n as argument. It should return 
the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it 
should return 1 if n is zero.

In [18]:
def factorial(n):
    if n>0:
        fact=1
        for i in range(1,n+1):
            fact=i*fact
        return fact
    elif n<0:
        return -1
    else:
        return 1
n=int(input())
print(factorial(n))

-1
-1

24. 
The range of a list of numbers is the difference between the maximum and minimum values in the list
Write a function named get_range that accepts a non-empty list of real numbers as argument. It 
should return the range of the list.
(1) Avoid using built-in function such as max and min.
(2) You do not have to accept input from the user or print output to the console. You just have to write 
the function definition.

In [20]:
l=[7,12,3,4,8,34]
def range_list(a):
    l.sort()
    range=l[-1]-l[0]
    return range
print(range_list(l))

31

In [ ]:
def get_max(l):
    maxi=L[0]
    for x in L:
        if x>maxi:
            maxi=x
    return maxi
def get_min(L):
    mini=l[0]
    for x in L:
        if x<mini:
            mini=x
    return mini
def get_range(L):
    maxi=get_max(L)
    mini=get_mini(L)
    return maxi-mini

25. Write a function named read_file that accepts a text file named filename as argument. Within 
the function, read the file and print each line of the file on a separate line in the console. You shouldn't 
print any extra characters at the end of a line. There shouldn't be an empty line between any two 
consecutive lines.
(1) filename is a string variable that holds the name of the file. For example, in the first test case, it 
is filename = 'public_1.txt'.
(2) You do not have to accept input from the console. You have to write the function definition and 
print the contents of the file within the function

In [85]:

def read_file(filename):
    f = open(filename, 'r')
    for line in f:
        print(line.strip())
    f.close()

In [87]:
read_file("file1.txt")

This is DogThis is catThis is horseThis is ElephanThis is Dog This is cat This is horse This is Elephant I am dineshdog cat  rat

26. A simple algorithm has to be designed to find out whether a student 
belongs to the Data Science branch or not. The input will be a 
student's roll number, which is of the form BR18B0000. 
Here, BR represents the branch code, 18 represents the year of 
joining, B represents the education level and 0000 represents the 
specific identification given to the student of that batch. The branch 
code for Data Science is DS. Print True if the student belongs to 
Data Science branch and False otherwise.

In [21]:
r=input()
if r[0:2]=="DS":
    print("True")
else:
    print("False")

DS120000
True

27.The police are trying to track a criminal based on the evidence 
available at a crime site. Their main clue is a vehicle's damaged 
number plate. Only the string TN07 is visible. The format of the 
registration number is AA00AA00, where the first two letters are 
alphabets, next two are numbers, next two are again alphabets 
followed by two numbers at the end. A number plate is picked from a 
database of registration numbers and is given to you as input. Your 
task is to determine if this could belong to the criminal or not. 
Print True if the number plate 
contains TN07 and False otherwise.

In [23]:
n=input()
if(n[0:4]=="TN07" and n[4:8]=="TN07"):
    print("True")
else:
    print("False")

AB00TN07
False

28. You are given a string and two non-negative integers as input. The 
two integers specify the start and end indices of a substring in the 
given string. Create a new string by replicating the substring a 
minimum number of times so that the resulting string is longer than 
the input string. The input parameters are the string, start index of 
the substring and the end index of substring (endpoints inclusive) 
each on a different line.

In [24]:
s=input()
a=int(input())
b=int(input())
x=s[a:b+1]
y=len(x)
ans=""
while(y>=len(ans)):
    ans+=x
print(ans)

variable
3
5
iabiab

29. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, 
and Emerald for sports competitions. For dividing the students into these four groups, she has 
followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...
Peridot - 2, 6, 10, 14, 18, 22, ...
Ruby - 3, 7, 11, 15, 19, 23, ...
Emerald - 4, 8, 12, 16, 20, 24, ...
All the students are represented by their roll numbers. Based on the above pattern, given the roll 
number as input, print the group the student belongs to. Note that the roll number can be any 
positive integer and not necessarily less than 25.

In [47]:
n=int(input())
sapphire=[x for x in range(1,n+1,4)]
print(sapphire)
peridot=[x for x in range(2,n+1,4)]
print(peridot)
Ruby=[x for x in range(3,n+1,4)]
print(Ruby)
Emerlad=[x for x in range(4,n+1,4)]
print(Emerlad)


if n in sapphire:
    print(f"{n} belongs to sapphire")
elif n in peridot:
    print(f"{n} belongs to peridot")
elif n in Ruby:
    print(f"{n} belongs to Ruby")
else:
    print(f"{n} belongs to Emerlad ")

33
[1, 5, 9, 13, 17, 21, 25, 29, 33]
[2, 6, 10, 14, 18, 22, 26, 30]
[3, 7, 11, 15, 19, 23, 27, 31]
[4, 8, 12, 16, 20, 24, 28, 32]
33 belongs to sapphire

30. A data science company wants to hire data scientists from abc college. 
The company follows a certain criteria for selection: for a student to 
be selected, the number of backlogs should be at most 5 and the 
CGPA (Cumulative Grade Point Average) should be greater than 6. If 
the student does not fit the above criteria, then the student is not 
offered the job. If the student is selected, then the salary offered is 
equal to 5 times his/her CGPA (in lakhs).
Accept the number of backlogs (integer) and the CGPA (float) of the 
student as input. Your task is to determine if the student is selected or 
not. If the student is selected, then print the package. If not, then 
print the string Not Selected.

In [88]:
a=float(input())
b=float(input())
if a<=5 and b>6:
    print(5*b)
else:
    print('Not Selected')

4
5
Not Selected

31. Accept a string as input and print PALINDROME if it is a 
palindrome, and NOT PALINDROME otherwise

In [2]:
s=input("Enter a string: ")
if s==s[::-1]:
    print('Palindrome')
else:
    print('Not a palindrome')

Enter a string: MOM
Palindrome

32. In a portal login website, you are asked to write a function get_password_strength to decide 
the strength of a password. The strength is decided based on the total score of the password, Use 
following conditions:
1) If password has length greater than 7 then score increases by one point.
2) If password has at least one upper case and one lower case alphabets score increases by one point.
3) If password has at least one number and no consecutive numbers like 12 or 234 then score 
increases by one point.
4) If password has at least one special character (any character other than numbers and alphabets) then 
score increases by one point.
5) If password contains username, then it is invalid password.
If the password has score of four points, three points, two points, or one point then print Very 
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then 
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a 
different password.The arguments to the function are username and password which are 
already defined

In [51]:
def get_password_strength(username,password):
    c=0
    capital='ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    c_flag=False
    small='abcdefghijklmnopqrstuvwxyz'
    s_flag=False
    num='0123456789'
    n_flag=False
    nc_flag=True
    if username in password:
        print("PASSWORD SHOULD NOT CONTAIN USERNAME")
        return
    if len(password)>7:
        c=c+1
    for i in range(len(password)):
        if password[i] in small:
            s_flag=True
        elif password[i] in capital:
            c_flag=True
        elif password[i] in num:
            n_flag=True
        if n_flag:
            if i!=(len(password)-1):
                if num[((num.index(password[i]))+1)]==password[i+1]:
                    nc_flag=False
            if c_flag and s_flag:
                c+=1
            if n_flag and nc_flag:
                c+=1
            if not password.isalnum():
                c+=1
            if c==4:
                print("Very Strong")
                return
            if c==3:
                print("Strong")
                return
            if c==2:
                print("moderate")
                return
            if c==1:
                print('week')
                return
            if c==0:
                print("use a different password")
                return

In [53]:
get_password_strength("dineshbabuvaddineni","Dinesh@1234")

Strong

33.decorator that logs the date and time

In [4]:
from datetime import datetime
def log_datetime(func):
    def wrapper():
        print(f'function:{func.__name__} \nRun on {datetime.today().strftime("%Y-%m-%d %H:%M:%S")}')
        print(f'{"-"*30}')
        func()
    return wrapper
@log_datetime
def daily_backup():
    print("Daily backup job has finished")

In [5]:
daily_backup()

function:daily_backup
Run on 2022-11-26 15:33:14
------------------------------
Daily backup job has finished

34.Program to Get Data Items From a List Appearing Odd Number of Times

In [8]:
l=[1,2,3,4,2,3,5,6,7]
l1=[]
for i in l:
    if l.count(i)%2!=0:
        if i not in l1:
            l1.append(i)
print(l1)

[1, 4, 5, 6, 7]

35.What are decorators in Python?

36. remove items from a list while iterating but without creating a different copy of a list.
Remove numbers greater than 50
number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected Output: [10, 20, 30, 40, 50]

In [35]:
number_list=[10,20,30,40,50,60,70,80,90,100]
l=[]
for i in number_list:
    if i<=50:
        l.append(i)
print("number_list after removing:",l)

number_list after removing: [10, 20, 30, 40, 50]

37.  Display all duplicate items from a list
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
Expected Output: [20, 60, 30]

In [38]:
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
l=[]
for ele in sample_list:
    if sample_list.count(ele)>1:
        l.append(ele)
print(set(l))

{20, 60, 30}

In [40]:
import collections
sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
duplicates=[]
for item,count in collections.Counter(sample_list).items():
    if count>1:
        duplicates.append(item)
print(duplicates)

[20, 60, 30]

38. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'.
Create an inner function inside an outer function that will concatenate x and y.
At last, an outer function will join the word 'developer' to it.

In [41]:
def outer(x,y):
    def inner(x,y):
        return x+y
    z=inner(x,y)
    return z+'Developer'

In [43]:
result=outer('Emma ','Kelly ')
print(result)

Emma Kelly Developer

39. Modify the element of a nested list inside the following list
Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [45]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1]=3500
print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

40.  Access the nested key increment from the following dictionary
Access 12
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}

In [48]:
emp_dict = {
    "company": {
        "employee": {
            "name": "Jess",
            "payable": {
                "salary": 9000,
                "increment": 12
            }
        }
    }
}
print(emp_dict["company"]["employee"]["payable"]["increment"])

12

41. Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [104]:
for i in range(10):

    print(f"Current number {i} previous Number {i-1} sum:{i*2-1}")

Current number 0 previous Number -1 sum:-1
Current number 1 previous Number 0 sum:1
Current number 2 previous Number 1 sum:3
Current number 3 previous Number 2 sum:5
Current number 4 previous Number 3 sum:7
Current number 5 previous Number 4 sum:9
Current number 6 previous Number 5 sum:11
Current number 7 previous Number 6 sum:13
Current number 8 previous Number 7 sum:15
Current number 9 previous Number 8 sum:17

42. Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [49]:
s=input()
for i in range(len(s)):
    if i%2==0:
        print(s[i],end=" ")

dinesh
d n s

In [52]:
s=input()
for i in range(0,len(s),2):
    print(s[i],end=" ")

ineuron
i e r n

43. Print multiplication table form 1 to 10
1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [119]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=' ')
    print(" ")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

44. Remove duplicates from a list and create a tuple and find the minimum and maximum number
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:
unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

In [115]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
a=set(sample_list)
print("Unique items:",list(a))
b=tuple(a)
print("tuple:",b)
print("min:",min(b))
print("max:",max(b))

Unique items: [65, 99, 41, 45, 87, 94]
tuple: (65, 99, 41, 45, 87, 94)
min: 41
max: 99

45. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument,
also create a lambda function
that multiplies argument x with argument y and print the result.

In [61]:
add=lambda x: x+15
print("Addition: ",add(2))
mul=lambda x,y:x*y
print("Multiplication:",mul(15,2))

Addition:  17
Multiplication: 30

46. Write a Python program to sort a list of tuples using Lambda.

In [63]:
sort_list=lambda x:sorted(x)
l=[(3,'t'),(4,'g'),(1,'f')]
sort_list(l)

[(1, 'f'), (3, 't'), (4, 'g')]

47. Write a Python program to extract year, month, date and time using Lambda.

In [70]:
import datetime
now=datetime.datetime.now()
print(now)
year=lambda x:x.year
month=lambda x:x.month
day=lambda x:x.day
t=lambda x:x.time()
print(year(now))
print(month(now))
print(day(now))
print(t(now))

2022-11-26 17:24:41.947587
2022
11
26
17:24:41.947587

48. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [81]:
l=[1,2,3,4,5,6,7,8,9]
even=len(list(filter(lambda x: x%2==0, l)))
odd=len(list(filter(lambda x: x%2!=0,l)))
print("Total even no's:", even)
print("Total odd no's:", odd)

Total even no's: 4
Total odd no's: 5

49. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence.
Use map() function.

In [114]:
def change_cases(s):
  return str(s).upper(), str(s).lower()
 
chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
print("Original Characters:\n",chrars)
 
result = map(change_cases, chrars)
print("\nAfter converting above characters in upper and lower cases\nand eliminating duplicate letters:")
print(set(result))

Original Characters:
 {'a', 'f', 'U', 'i', 'o', 'b', 'E'}

After converting above characters in upper and lower cases
and eliminating duplicate letters:
{('F', 'f'), ('A', 'a'), ('U', 'u'), ('I', 'i'), ('B', 'b'), ('E', 'e'), ('O', 'o')}

50.  Write a Python program to square the elements of a list using map() function.

In [95]:
l=[2,4,6,8,10]
def squ_num(a):
    return a**2

In [97]:
list(map(squ_num,l))

[4, 16, 36, 64, 100]

In [98]:
l=[1,2,3,4,5]

In [99]:
list(map(lambda a:a**2,l))

[1, 4, 9, 16, 25]

51. Try to create two decorators for converting a string to lower case and split it into words.

In [23]:
def lowercase_dec(function):
    def f1():
        func=function()
        string_lowercase=func.lower()
        return string_lowercase
    return f1
def splitword(function):
    def f1():
        func=function()
        string_split=func.split()
        return string_split
    return f1

In [24]:
@splitword
@lowercase_dec
def hello():
    return "Hello World"

In [25]:
hello()

['hello', 'world']